#grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    border: none;
    gap: 0px
}

input {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

body {
    display: flex;
    justify-content: center;
}